body{
    background-color: pink
}

#logout-btn-home{
    background-color: yellow;
    color: black;
    border-color: yellow;
    float: right
}

#submit-button{
    background-color: green;
    border-color: green
}
.plant-card{
    display: flex;
    flex-wrap: wrap
}
#plant-container{
    display: flex;
    flex-wrap:wrap

}
.card d-flex{
    width: 50px;
    length: 50px;
    background-color: pink
}

.card-photoUrl {
    width: 400px;
    height: 550px;
    border-radius: 20px;
    border: 5px solid white;
    margin-top: 0px
}

#card-photo-input{
    border: 5px solid white
}
.card-plantName {
    font-weight: bold;
    text-align: center
}

#delete-btn-plant-card{
    background-color: yellow;
    border-color: yellow;
    border-radius: 8px
}

#app-name{
    text-align: center;
    margin-bottom: 0px
}

.form-group{
    color: pink
}




