html{
  min-height: 100%
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom, pink, white);
    background-repeat: no-repeat;
    background-attachment: fixed
}

#submit-button{
    background-color: green;
    border-color: green
}